{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block body %}
	<main class="container">
		<div class="row mb-2">
			{% for article in articles %}
				<div class="col-md-12">
					<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col p-4 d-flex flex-column position-static">
							<h3 class="mb-0">
								<a href="{{ path('app_detail',{ id : article.id}) }}">{{article.title}}</a>
							</h3>
							<div class="mb-1 text-muted">
								<a href="{{ path('app_detail',{ id : article.id}) }}">Date :
									{{ article.createdAt | convertDate }}
								</a>
							</div>
							<p class="card-text mb-auto">
								<a href="{{ path('app_detail',{ id : article.id}) }}">{{ article.content | slice(0, 1000) }}
									...</a>
							</p>
							<strong class="d-inline-block mb-2 text-primary">
								<a>Author :
									{{article.author.email}}</a>
							</strong>
							<div class="mb-1 text-muted">
								<a href="{{ path('app_detail',{ id : article.id}) }}">Comments :
									{{article.comments | length }}</a>
							</div>
						</div>
						<div class="col-auto d-none d-lg-block">
							<a href="{{ path('app_detail',{ id : article.id}) }}"><img style="width: 250px; height: 350px;" src="{{ article.image }}"></a>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="navigation">
				{{ knp_pagination_render(articles) }}
			</div>
		</div>
	</main>
{% endblock %}
